.square{
  
  margin-right: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.circle{
  
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 50%;
  display: inline-block;
}

.btn-primary{
  margin-bottom: 3px;
}